
tumorotek-parent/.settings/*
tumorotek-core/.classpath
tumorotek-core/.project
tumorotek-core/.settings/*
tumorotek-core/target/*
tumorotek-dashboard/.classpath
tumorotek-dashboard/.project
tumorotek-dashboard/.settings/*
tumorotek-dashboard/target/*
tumorotek-install/target/*
tumorotek-install/.project
tumorotek-install/.settings/*
tumorotek-install/target/*
tumorotek-install/src/site/markdown/*
tumorotek-interface/.classpath
tumorotek-interface/.project
tumorotek-interface/.settings/*
tumorotek-interface/target/*
tumorotek-model/.classpath
tumorotek-model/.project
tumorotek-model/.settings/*
tumorotek-model/target/*
tumorotek-test/.classpath
tumorotek-test/.project
tumorotek-test/.settings/*
tumorotek-test/target/*
tumorotek-webapp/.classpath
tumorotek-webapp/.project
tumorotek-webapp/.settings/*
tumorotek-webapp/target/*
.settings/*
.project
tumorotek-install/src/site/markdown/*
tumorotek-install/src/site/markdown/index.md
tumorotek-install/src/site/markdown/note-version.md
tumorotek-core/src/test/java/fr/aphp/tumorotek/manager/test/xml/test.pdf
tumorotek-core/src/test/java/fr/aphp/tumorotek/manager/test/xml/testAccord.pdf
tumorotek-core/src/test/java/fr/aphp/tumorotek/manager/test/xml/testBoite.html
tumorotek-core/src/test/java/fr/aphp/tumorotek/manager/test/xml/testContenu.html
tumorotek-core/src/test/java/fr/aphp/tumorotek/manager/test/xml/test.pdf
target/checkout/

*/bin
