div.main-container {
}

div.block-container {
  background: none;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
}

div.item {
	padding: 5px 5px 5px 6px; 
	background: none;  
  	min-height: 20px;  
  	font-size: 18px;  
  	text-align: left;
  	display: flex;
  	flex-direction: row;
  	align-content: center;
  	justify-content: start;
}

div.block-title {
   width: 100%;
}

div.item-mid {
  width: 47%;   
}

div.item-wide {
  width: 100%;
}

.item:nth-child(2n){
  break-after: always;
}

div.row-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: start;
}

div.block-separator {
	height: 15px;
}

div.item span.formLabel, div.item span.formValue, div.item span.formLink {
	width: 150px;
	display: inline-flex;
  	align-items: center;
}

div.gridForm1 div.item {
	color : #636363; 
	font-weight : bold; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.gridForm1 > div.item-disabled {
	color : #7F7F7F; 
	font-weight : normal; 
	font-style: italics;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom-style : solid; 
	border-bottom-width : 1px;
	border-bottom-color : #7F7F7F;
}

div.gridForm1 .z-group-box{	
	border-bottom-width : 2px; /*PRO*/
	border-bottom-color : #E03F06; /*PRO*/
	border-top-style : none; /*PRO*/
	border-right-style : none; /*PRO*/
	border-left-style : none; /*PRO*/
	border-top-width : 1px; /*PRO*/
	border-top-color : #E03F06; /*PRO*/
}