<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="uiRequeteDao" parent="abstractDao">
		<property name="proxyInterfaces">
			<value>fr.aphp.tumorotek.dao.ui.UiRequeteDao
			</value>
		</property>
		<property name="target">
			<bean parent="abstractDaoTarget">
				<constructor-arg>
					<value>fr.aphp.tumorotek.model.ui.UiRequete
					</value>
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>
