<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	 <!-- couche de persistance JPA -->
	 <bean id="entityManagerFactoryCodes" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	     <property name="dataSource" ref="dataSourceCodes" />
	     <property name="persistenceUnitName" value="pCodes" />
	     <property name="jpaVendorAdapter">
	        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">          
	           	<property name="showSql" value="false"/>
<!--	        <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />-->
<!--			<property name="databasePlatform" value="org.hibernate.dialect.OracleDialect" />-->
				<property name="databasePlatform">
 					<bean class="org.springframework.jndi.JndiObjectFactoryBean">
						<property name="jndiName" value="java:comp/env/codes/jdbc/dialect" />
						<property name="defaultObject" value="org.hibernate.dialect.MySQLDialect" />
					</bean>
 				</property>	
	        </bean>
	     </property>
	 </bean>

<!--	   Pool de connection -->
<!--	 <bean id="dataSourceCodes"-->
<!--	 	class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">	     -->
<!--	 	<property name="driverClass" value="com.mysql.jdbc.Driver" />-->
<!--	 	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/tumo2codes"/>-->
<!--	 	<property name="user" value="root" />-->
<!--	 	<property name="password" value="root" />-->
<!--	 	<property name="driverClass" value="oracle.jdbc.OracleDriver" />-->
<!--		<property name="jdbcUrl" value="jdbc:oracle:thin:@host:1521:xe"/>-->
<!--	 	<property name="user" value="HR" />-->
<!--	 	<property name="password" value="hr" />-->
<!--	 	<property name="initialPoolSize" value="3" />-->
<!--	 	<property name="minPoolSize" value="1" />-->
<!--		<property name="maxPoolSize" value="3" />-->
<!--		<property name="automaticTestTable" value="c3p0test" />-->
<!--		<property name="acquireIncrement" value="1" />-->
<!--		<property name="maxStatements" value="0" />-->
<!--		<property name="numHelperThreads" value="5" />-->
<!--	 </bean>-->

	 <bean id="dataSourceCodes"
	 	class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">	     
	 	<property name="driverClass">
	 		<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="jndiName" value="java:comp/env/codes/jdbc/driverClass" />
				<property name="defaultObject" value="com.mysql.jdbc.Driver" />
			</bean>
	 	</property>
 		<property name="jdbcUrl">
 			<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="jndiName" value="java:comp/env/codes/jdbc/url" />
				<property name="defaultObject" value="jdbc:mysql://localhost:3306/test_tumorotek_codes" />
			</bean>			
 		</property> 
	 	<property name="user">
	 		<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="jndiName" value="java:comp/env/codes/jdbc/user" />
				<property name="defaultObject" value="root" />
			</bean>
	 	</property>
	 	<property name="password">
	 		<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="jndiName" value="java:comp/env/codes/jdbc/password" />
				<property name="defaultObject" value="root" />
			</bean>
	 	</property>
	 	<property name="initialPoolSize" value="3" />
	 	<property name="minPoolSize" value="3" />
		<property name="maxPoolSize" value="10" />
		<property name="automaticTestTable" value="c3p0test" />
		<property name="acquireIncrement" value="1" />
		<property name="maxStatements" value="0" />
		<property name="numHelperThreads" value="5" />
		<property name="maxIdleTime" value="5000" />
		<property name="maxConnectionAge" value="5000" />
		<property name="idleConnectionTestPeriod" value="500" />
	 </bean> 
	 
	 <!-- le gestionnaire de transactions... utilisé dans les tests par AbstractDaoTest -->
 	 <bean id="txManagerCodes" class="org.springframework.orm.jpa.JpaTransactionManager"> 
 	    <property name="entityManagerFactory" ref="entityManagerFactoryCodes" /> 
 	 </bean> 
</beans>