<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- couche de persistance JPA -->
	<bean id="entityManagerFactoryInterfacages"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourceInterfacages" />
		<property name="persistenceUnitName" value="pInterfacages" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="${db.interfacages.hibernate.showSql}" />
				<property name="generateDdl" value="${db.interfacages.hibernate.generateDdl}" />
				<property name="databasePlatform">
					<bean class="org.springframework.jndi.JndiObjectFactoryBean">
						<property name="jndiName" value="${db.jndi.interfacages.dialect}" />
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="dataSourceInterfacages" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="jndiName" value="${db.jndi.interfacages.driver}" />
			</bean>
		</property>
		<property name="jdbcUrl">
			<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="jndiName" value="${db.jndi.interfacages.url}" />
			</bean>
		</property>
		<property name="user">
			<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="jndiName" value="${db.jndi.interfacages.user}" />
			</bean>
		</property>
		<property name="password">
			<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="jndiName" value="${db.jndi.interfacages.password}" />
			</bean>
		</property>
		<property name="initialPoolSize" value="${db.interfacages.initialPoolSize}" />
		<property name="minPoolSize" value="${db.interfacages.minPoolSize}" />
		<property name="maxPoolSize" value="${db.interfacages.maxPoolSize}" />
		<property name="automaticTestTable" value="c3p0test" />
		<property name="acquireIncrement" value="1" />
		<property name="maxStatements" value="0" />
		<property name="numHelperThreads" value="5" />
		<property name="maxIdleTime" value="5000" />
		<property name="maxConnectionAge" value="5000" />
		<property name="idleConnectionTestPeriod" value="500" />
	</bean>

	<!-- le gestionnaire de transactions... utilisé dans les tests par AbstractDaoTest -->
	<bean id="txManagerInterfacages" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryInterfacages" />
	</bean>
</beans>