<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	 <import resource="applicationContextAOP-codes.xml" />
 	
<!-- 	<bean id="adicapManager" class="fr.aphp.tumorotek.manager.impl.code.AdicapManagerImpl">-->
<!--		<property name="adicapDao" ref="adicapDao" />-->
<!--		<property name="adicapGroupeDao" ref="adicapGroupeDao" />-->
<!--	</bean>-->
	
	<bean id="adicapManager" parent="txProxyTemplateCodes">
  		<property name="target">
   	 		<bean class="fr.aphp.tumorotek.manager.impl.code.AdicapManagerImpl">
   	 			<property name="adicapDao" ref="adicapDao" />
				<property name="adicapGroupeDao" ref="adicapGroupeDao" />
    		</bean>
  		</property>
	</bean>
	
	<bean id="cimMasterManager" parent="txProxyTemplateCodes">
  		<property name="target">
   	 		<bean class="fr.aphp.tumorotek.manager.impl.code.CimMasterManagerImpl">
				<property name="cimMasterDao" ref="cimMasterDao" />
				<property name="entityManagerFactory" ref="entityManagerFactoryCodes" />
			</bean>
		</property>
	</bean>
	
	<bean id="cimoMorphoManager" parent="txProxyTemplateCodes">
  		<property name="target">
   	 		<bean class="fr.aphp.tumorotek.manager.impl.code.CimoMorphoManagerImpl">
				<property name="cimoMorphoDao" ref="cimoMorphoDao" />
			</bean>
		</property>
	</bean>
</beans>