<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->

	<!-- ******************************** Appenders : ******************************** -->

	<!-- appender console pour les éventuelles erreurs au lancement de l'application -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- appender principal de l'application -->
	<appender name="TumorotekFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/tumorotek_trace.log</File>
		<encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/tumorotek_trace.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 180 days to keep -->
			<maxHistory>180</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- appender principal de l'application -->
	<appender name="LiquibaseFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/liquibase_trace.log</File>
		<encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/liquibase_trace.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 90 days to keep -->
			<maxHistory>90</maxHistory>
		</rollingPolicy>
	</appender>

    <appender name="InterfacageFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/tumorotek_interfacage.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/tumorotek_interfacage.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
    </appender>

	<!-- ******************************** Loggers : ******************************** -->
	<!-- loggers pour surveiller le démarrage de l'application -->
	<!-- catalina.out ne tourne pas toujours bien - peut-être parce qu'il est toujours "en prise". Par conséquent, pas d'affichage dans STDOUT des traces liquibase volumineuses.
	     Par contre affichage des traces de InitServlet pour avoir une vue d'ensemble du démarrage : info tomcat + info application et dans tumorotek_trace, on retrouvera
		 le démarrage de l'application et les traces liquibases. -->
	<logger name="fr.aphp.tumorotek.action.InitServlet" additivity="false" level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="TumorotekFile"/>
	</logger>
	<logger name="liquibase" additivity="false" level="INFO">
		<appender-ref ref="TumorotekFile"/>
		<appender-ref ref="LiquibaseFile"/>
    </logger>
	<!-- -->


    <!--  loggers personnalisées pour les différents packages : décommenter ceux nécessaires en cas de besoin -->
	<!--
    <logger name="fr.aphp.tumorotek.manager" additivity="false" level="DEBUG">
        <appender-ref ref="TumorotekFile"/>
    </logger>

    <logger name="fr.aphp.tumorotek.model" additivity="false" level="DEBUG">
        <appender-ref ref="TumorotekFile"/>
    </logger>

    <logger name="fr.aphp.tumorotek.webapp" additivity="false" level="DEBUG">
        <appender-ref ref="TumorotekFile"/>
    </logger>

    <logger name="fr.aphp.tumorotek.action" additivity="false" level="DEBUG">
        <appender-ref ref="TumorotekFile"/>
    </logger>
	-->
	<!--  SINON  pour baisser le niveau des traces de tout TK -->
	<!--
    <logger name="fr.aphp.tumorotek" additivity="false" level="DEBUG">
        <appender-ref ref="TumorotekFile"/>
    </logger> 
	-->	

    <logger name="fr.aphp.tumorotek.interfacage" additivity="false" level="ERROR">
        <appender-ref ref="InterfacageFile"/>
    </logger>
	
	
	<logger name="org.hibernate.type" additivity="false" level="ERROR">
        <appender-ref ref="TumorotekFile"/>
    </logger>
	<logger name="org.hibernate" additivity="false" level="ERROR">
        <appender-ref ref="TumorotekFile"/>
    </logger>


    <logger name="org.apache.camel" additivity="false" level="ERROR">
        <appender-ref ref="TumorotekFile"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="TumorotekFile"/>
    </root>
</configuration>