<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->

	<!-- ******************************** Appenders : ******************************** -->

	<!-- appender console pour les éventuelles erreurs au lancement de l'application -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- appender principal de l'application -->
	<appender name="DailyRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/tumorotek_trace.log</File>
		<encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/tumorotek_trace.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each archived file's size will be max 500KB -->
			<maxFileSize>500KB</maxFileSize>    
			<!-- 90 days to keep -->
			<maxHistory>90</maxHistory>
			<!-- total size of all archive files, if total size > 10MB, it will delete old archived file -->
			<totalSizeCap>10MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	

	<!-- !!!!!!!!!!!!!!!!! Appenders pour les interfaçages : DEBUT !!!!!!!!!!!!!!! -->
    <!-- Appender pour scan  -->
    <appender name="DailyRollingFile-scan" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/tumorotek_scan.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/tumorotek_scan.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>500KB</maxFileSize>    
			<maxHistory>60</maxHistory>
			<totalSizeCap>5MB</totalSizeCap>
		</rollingPolicy>
    </appender>

    <!-- Appender pour SGL  -->
    <appender name="DailyRollingFile-sgl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/tumorotek_sgl.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/tumorotek_sgl.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>500KB</maxFileSize>    
			<maxHistory>60</maxHistory>
			<totalSizeCap>5MB</totalSizeCap>
		</rollingPolicy>
    </appender>


    <!-- Appender pour interfacage -->
    <appender name="DailyRollingFile-interfacage" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/tumorotek_interfacage.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/tumorotek_interfacage.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>500KB</maxFileSize>    
			<maxHistory>60</maxHistory>
			<totalSizeCap>5MB</totalSizeCap>
		</rollingPolicy>
    </appender>


    <!-- Appender pour ACK -->
    <appender name="DailyRollingFile-ack" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/tumorotek_ack.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{username}] %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/tumorotek_interfacage.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>500KB</maxFileSize>    
			<maxHistory>60</maxHistory>
			<totalSizeCap>5MB</totalSizeCap>
		</rollingPolicy>
    </appender>
	<!-- !!!!!!!!!!!!!!!!! Appenders pour les interfaçages : FIN !!!!!!!!!!!!!!! -->
	

	<!-- ******************************** Loggers : ******************************** -->
	<!-- loggers pour afficher dans la console un problème de démarrage de l'application -->
	<logger name="fr.aphp.tumorotek.action.InitServlet" additivity="false" level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="DailyRollingFile"/>
	</logger>
	<logger name="liquibase" level="INFO">
        <appender-ref ref="STDOUT" />
		<appender-ref ref="DailyRollingFile"/>
    </logger>
	<!-- -->

    <!--    logger personnalisées pour les différents packages : à décommenter si besoin -->
	<!--
    <logger name="fr.aphp.tumorotek.manager" additivity="false" level="DEBUG">
        <appender-ref ref="DailyRollingFile"/>
    </logger>

    <logger name="fr.aphp.tumorotek.model" additivity="false" level="DEBUG">
        <appender-ref ref="DailyRollingFile"/>
    </logger>

    <logger name="fr.aphp.tumorotek.webapp" additivity="false" level="DEBUG">
        <appender-ref ref="DailyRollingFile"/>
    </logger>

    <logger name="fr.aphp.tumorotek.action" additivity="false" level="DEBUG">
        <appender-ref ref="DailyRollingFile"/>
    </logger> -->
	
	<!-- pour tracer les requêtes avec les paramètres -->
	<logger name="org.hibernate.type" additivity="false" level="ERROR">
        <appender-ref ref="DailyRollingFile"/>
    </logger>
	<logger name="org.hibernate" additivity="false" level="ERROR">
        <appender-ref ref="DailyRollingFile"/>
    </logger>


    <logger name="org.apache.camel" additivity="false" level="ERROR">
        <appender-ref ref="DailyRollingFile"/>
    </logger>

   	<!-- !!!!!!!!!!!!!!!!! loggers pour les interfaçages : DEBUT !!!!!!!!!!!!!!! -->
    <logger name="fr.aphp.tumorotek.interfacage" level="ERROR">
        <appender-ref ref="DailyRollingFile-interfacage"/>
    </logger>

    <logger name="fr.aphp.tumorotek.interfacage.scan" level="ERROR">
        <appender-ref ref="DailyRollingFile-scan"/>
    </logger>

    <logger name="fr.aphp.tumorotek.interfacage.sgl" level="ERROR">
        <appender-ref ref="DailyRollingFile-sgl"/>
    </logger>

    <logger name="fr.aphp.tumorotek.interfacage.sender.ack" level="ERROR">
        <appender-ref ref="DailyRollingFile-ack"/>
    </logger>
   	<!-- !!!!!!!!!!!!!!!!! loggers pour les interfaçages : DEBUT !!!!!!!!!!!!!!! -->


    <root level="ERROR">
        <appender-ref ref="DailyRollingFile"/>
    </root>
</configuration>