.appLink {
    #color: #214584;
    color: #FFFFFF;
    padding: 7px;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    #line-height: 15px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.appLink:hover {
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    padding: 7px;
    cursor: pointer;
}

.appLink .appLabel {
    font-size: 14px;
    text-decoration: initial;
    font-weight: bold;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3333333;
}

.appLink:hover .appLabel {
    background: none;
    #text-decoration: underline;
}
