<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://${test.database.host}:3306/${test.database.tumorotek.name}?serverTimezone=Europe/Paris" />
		<property name="user" value="${test.database.username}" />
		<property name="password" value="${test.database.password}" />
<!-- 		<property name="driverClass" value="oracle.jdbc.OracleDriver" /> -->
<!-- 		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:32118/XEPDB1" /> -->
<!-- 		<property name="user" value="tumotest" /> -->
<!-- 		<property name="password" value="tumotest" /> -->
		<property name="initialPoolSize" value="3" />
		<property name="minPoolSize" value="3" />
		<property name="maxPoolSize" value="10" />
		<property name="automaticTestTable" value="c3p0test" />
		<property name="acquireIncrement" value="1" />
		<property name="maxStatements" value="0" />
		<property name="numHelperThreads" value="5" />
		<property name="maxIdleTime" value="5000" />
		<property name="maxConnectionAge" value="5000" />
		<property name="idleConnectionTestPeriod" value="500" />
	</bean>

	<!-- couche de persistance JPA -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="simple-jpa" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="false" />
				<property name="showSql" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
<!-- 				<property name="databasePlatform" value="org.hibernate.dialect.Oracle9Dialect" /> -->
			</bean>
		</property>
	</bean>

<!-- 	<bean id="resourceBundleSip" class="fr.aphp.tumorotek.model.bundles.ResourceBundleSipImpl"> -->
<!-- 		<property name="sipPath" value="src/test/resources/tomcat/conf/Catalina/localhost/sip/" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="resourceBundleMbio" class="fr.aphp.tumorotek.model.bundles.ResourceBundleMbioImpl"> -->
<!-- 		<property name="mbioPath" value="src/test/resources/tomcat/conf/Catalina/localhost/mbio/" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="resourceBundleTumo" class="fr.aphp.tumorotek.model.bundles.ResourceBundleTumoImpl"> -->
<!-- 		<property name="tumoPropertiesPath" value="src/test/resources/tomcat/conf/Catalina/localhost/" /> -->
<!-- 	</bean> -->

	<!-- le gestionnaire de transactions... utilisé dans les tests par AbstractDaoTest -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
</beans>